@media screen and (max-width: 750px) { 
	.contact input[type="text"]{
		margin: 30px 0 0 0;
		width: 90%;
	}

	.contact textarea{
		margin: 20px 0 30px 0;
		padding: 25px 0 0 20px;
		width: 90%;
	}
}

@media screen and (max-width: 650px) { 
	header{
		text-align: center;
	}

	header .logo{
		display: inline-block;
		float: none;
	}

	header .menu{
		display: inline-block;
		float: none;
	}

	header .menu li{
		margin-top: 13px;
	}

	.contact input[type="text"]{
		margin: 30px 0 0 0;
		width: 90%;
	}

	.copyright{
		display: inline-block;
		float: none;
	}

	.social{
		display: inline-block;
		margin-top: 25px;
		float: none;
	}
}

@media screen and (max-width: 370px) { 
	.portfolio h2{
		font-size: 38px
	}
}